<button class="btn btn-primary btn-sm small" (click)="openDialog()" matTooltip="Add Product" matTooltipPosition="before">
  <i class="fa fa-plus text-white"></i>
</button>

<button class="btn btn-info btn-sm small" (click)="refreshList()" matTooltip="Refresh" matTooltipPosition="before">
  <i class="fa fa-refresh text-white"></i>
</button>

<div class="float-right" [hidden]="dataSourceList?.length <= 0">
  total Element :
  <span calss="text-justify">
    {{ dataSourceList?.length}}
  </span> 
</div>
<table class="table table-hover table-bordered table-sm">
  <thead class="bg-light">
    <tr>
      <th class="header-pointer" *ngFor="let header of Headers; let i = index" (click)="sortItem(i)">
        {{ header }}
        <li class="arrow" [ngClass]="{up: sortStatus === 'acs' && elementName === getElementName(i) , down: sortStatus === 'desc' && elementName === getElementName(i) }">
        </li>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currentList">
      <td *ngFor="let elementName of VisableMember; let i = index">
        {{ getElement(elementName, item) }}
      </td>
      <td>
        <a class="btn text-justify" matTooltip="Edit" matTooltipPosition="left" (click)="onEditClick(item)">
          <i class="fa fa-edit fa-lg "></i>
        </a> |
        <a class="btn text-danger" matTooltip="Delete" matTooltipPosition="right" (click)="onDelete(item)">
          <i class="fa fa-trash fa-lg "></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="w-100">
  <div class="btn-toolbar d-inline" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-primary" (click)="changePageIndex(item)" *ngFor="let item of pagingList; let i = index"
        [class.active]=" selectedIndex == i+1 ">
        {{ item }}
      </button>
    </div>
  </div>
  <div class="float-right">
    <div class="input-group input-group-sm">
      <label class="h5">Length: </label>
      <select class="form-control" [(ngModel)]="selectedLength" name="selectedLength" (change)="changeListSize()">
        <option *ngFor="let len of lengthList" [value]="len"> {{ len }} </option> 
      </select>
    </div>
  </div>
</div>