.header-pointer { 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.arrow {
    display: inline-block;
    padding: 3px;
    text-align: right
  }
  
.up {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}