<div class="container">
  <div class="row shadow">
    <div class="col-6 p-5">
      <div class="center">
        <span class="h3">
          Sign Up
        </span>
      </div>
    </div>      
      <div class="col-6">
        <form [formGroup]="form" (ngSubmit)="regestar()">
          <div class="account-container">
            <mat-form-field>
              <input type="text" matInput placeholder="UserName">
            </mat-form-field>


            <mat-form-field>
              <input type="email" matInput placeholder="Mail">
            </mat-form-field>


            <mat-form-field>
              <input type="password" matInput placeholder="Password">
            </mat-form-field>

            <div class="form-group">
              <div class="inline">
                <button type="submit" class="btn btn-primary">Sign up</button>
                <button type="reset" class="btn btn-danger">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>