.header-pointer { 
    cursor: pointer;
}


.arrow {
    display: inline-block;
    padding: 3px;
  }
  
.up {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
