

 <table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productList">
      <td> {{ prod.name }}</td>
      <td> {{ prod.price }}</td>
      <td> {{ prod.cost }}</td>
      <td> {{ prod.description }}</td>
      <td> </td>
      <td>  <a (click)="onEditClick(prod)" matTooltip="Edit" matTooltipPosition="left"  class="btn text-justify"> <i class="fa fa-edit fa-lg "></i> </a>   |  
            <a class="btn text-danger" matTooltip="Delete" matTooltipPosition="right" (click)="dialogconformMessage(prod)"> <i class="fa fa-trash fa-lg "></i> </a> </td>
    </tr>
  </tbody>
</table> 